* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  display: flex;
  justify-content: start;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;


  a {
    text-transform: uppercase;
    height: 30px;
    line-height: 2;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding-right: 40px;

  }

}

.head {
   .bank{
    position: absolute; 
    margin-left: 500px;
    margin-top: 80px;
   }
  img {
    width: 700px;
    height: 720px;
    position: absolute;
    z-index: -1;
    margin-left: 52%;
  }

  .cat_fun {
    margin-left: 50px;

    h1 {

      height: 120px;
      line-height: 60px;
      padding-top: 75px;
    }

    .jet{ 

      line-height: 20px;
      height: 20px;
      padding-top: 150px;
    }

    .gut {
      text-transform: uppercase ;
      margin-top: 90px;
      background-color: #68B738;
      border: 0px solid white;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}

.card_cat{
  padding-top: 350px;
  /* padding-left: 200px; */
  gap: 100px;
}
.getr{
  /* position: relative; */
  display: flex;
  /* margin-top: 200px; */
  justify-content: space-around;
}
.info_1{
  gap: 30px;
  display: flex;
  align-items:center;
}
.info_2{
  gap: 30px;
  display: flex;
  align-items:center;
}


.card_1{
  padding: 27px;
  background-color: #F2F2F2;

p{
  padding-top: 30px;
}
  h2{
    padding-top: 30px;
  }
}


.card_2{
  padding: 27px;
  background-color: #F2F2F2;

  p{
    padding-top: 30px;
  }
    h2{
      padding-top: 30px;
    }
  }



  .how_sect{
    h1{
      margin-left: 90px;
      margin-top: 55px;
    }
    .cards{
      display: flex;
      /* gap: 60px; */
      justify-content: space-around;
      padding-top: 40px;

    .cardf_1{
      align-items:flex-start;
      h1{
        position: absolute;
        z-index: -2;
        opacity: 0.6;
      }
    }
  
    .cardf_2{
      align-items:flex-start;
      h1{
        position: absolute;
        z-index: -2;
        opacity: 0.6;
      }
    }
 
  
    .cardf_3{
      align-items:flex-start;
      h1{
        position: absolute;
        z-index: -2;
        opacity: 0.6; 
      }
    }
    
  
    .cardf_4{
      align-items:flex-start;
      h1{
        position: absolute;
        z-index: -2;
        opacity: 0.6;
      }
    }
  
  
  }
  }
  